.sidebar{
    display:flex;
    flex-direction:column;
    flex: 0.35;
}
.sidebar_header{
    display:flex;
    justify-content:space-between;
    padding: 20px;
    border-right: 1px solid lightgrey;
}
.sidebar_headerRight{
    display:flex;
    justify-content:space-between;
    align-items:center;
    min-width: 10vw;
}
.sidebar_headerRight > .MuiSvgIcon-root{
    margin-right:2vw;
    font-size:24px !important; 
}
.sidebar_search{
    display:flex;
    align-items:center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;
}
.sidebar_searchContainer{
     display:flex;
    align-items:center;
    background-color: white;
    height: 35px;
    width: 100%;
    border-radius: 20px;
}
.sidebar_searchContainer > .MuiSvgIcon-root{
    color:gray;
    padding: 10px
}

.sidebar_searchContainer > input{
    border:none;
    outline-width: 0;
    margin-left: 10px;
}
.sidebar_chats{
    flex:1;
    background-color: white;
    overflow: scroll;
}

.sidebarChat{
    display:flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}
.sidebarChat:hover{
    background-color: #ebebeb;
}
.sidebarChat_info > h2{
    font-size:  20px;
    margin-bottom:8px;
}
.sidebarChat_info > p{
    font-size:16px;
}
.sidebarChat_info{
    margin-left:15px;
}